

img{
    width:60px;
    height: 40px;

}

button{
    margin: 2px 3px;
}
.flag{
    display: block;
    width: 50px;
    height: 60px;
    background-image: url("../../../assets/flag.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
    position: absolute;
    right: 5px;
    top: -10px;
}
svg{
    margin-left: 5px;
}

.road{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 40px;
}
.carInterface{
    display: flex;
    align-items: center; 
    justify-content: center;
}
.resultSpan{
    position: absolute;
    top: 200px;
    left: 300px;
    height: 150px;
    font-size: 35px;
}
